* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
}

html {
    font-family: sans-serif;
}


main section {
    display: flex;
    align-items: center;
    justify-content: center;
    background: url("https://cdn.pixabay.com/photo/2023/01/08/05/45/mountain-7704584_1280.jpg");
    height: 100vh;
    background-size: cover;
    opacity: .8;
    z-index: -1;
}

.container {
    position: relative;
    width: 400px;
    height: 105px;
    background-color: #05050590;
    border-radius: 18px;
    overflow: hidden;
    transition: 0.2s ease;
    padding: 28px 32px;
    backdrop-filter: blur(.5rem);
    box-shadow: 0px 0px 20px 10px black;
}

.search-box {
    width: 100%;
    height: min-content;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-box input {
    color: white;
    width: 70%;
    margin-right: 10px;
    font-size: 24px;
    font-weight: 500;
    text-transform: uppercase;
    text-align: left;
    border-radius: 15px;
    padding: 5px;
    background-color: transparent;
}

.search-box input::placeholder {
    font-size: 18px;
    font-weight: 500;
    color: white;
    text-transform: capitalize;
}


.search-box .btnsearch {
    cursor: pointer;
    width: 50px;
    height: 50px;
    fill: white;
    transition:  0.2s ease;
    margin-left: 5px;
    background-color: transparent;
}

.search-box .btnsearch:hover {
    fill: black;
    background-color:white;
    border-radius: 100%;
}

.btnreset {
    background-color: transparent;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    font-size: 30px;
    color: white;
    cursor: pointer;
    display: none;
}

.fadeOut {
    transition: ease-in;
    animation:  .3s fadeOut;
}

@keyframes fadeOut {
    0% {
        transform: translateY(-90px
        );
    } 

    90% {
        transform: translateY(0px);
    }


}


.weather-box {
    text-align: center;
}

.weather-box img {
    width: 55%;
    margin-top: 30px;
}

.weather-box .temperature {
    position: relative;
    color: white;
    font-size: 4rem;
    font-weight: 800;
}

.weather-box .temperature span {
    position: absolute;
    margin-left: 4px;
    font-size: 1.5rem;
}

.weather-box .description {
    color: white;
    font-size: 22px;
    font-weight: 500;
    text-transform: capitalize;
}

.weather-details {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 35px;
}

.weather-details .humidity-box, .wind-box {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 21px;
    color: white;
}

.text span {
    font-weight: 700;
    font-size: 18px;
}


.text p {
    font-weight: 500;
    font-size: 15px;
}

.humidity-box .text, .wind-box .text {
    padding: 0px 7px;
}










.not-found {
    width: 100%;
    text-align: center;
    margin-top: 50px;
    scale: 0;
    opacity: 0;
    display: none;
}

.not-found img {
    width: 70%;
}

.not-found p {
    color: white;
    font-size: 22px;
    font-weight: 500;
    margin-top: 12px;
}

.fadeIn {
    animation:  .2s fadeIn forwards;
    animation-delay: .2s;
}

@keyframes fadeIn {
    to {
        scale: 1;
        opacity: 1;
    }
    
}

